* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

hr {
    background-color: rgb(231, 231, 231);
    width: 90%;
    margin: 0 auto;
    border: none;
    height: 2px;
}

.top {
    height: 20%;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.triangle {
    width: 0;
    height: 0;
    left: 0;
    border: 8vw solid;
    border-top-color: rgb(0, 104, 255);
    border-left-color: rgb(0, 104, 255);
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.triangle span {
    position: absolute;
    left: 0.6vw;
    top: 2.5vw;
    color: aliceblue;
    font-weight: bold;
    font-size: 4vw;
    transform: rotate(-45deg);
}

@font-face {
    font-family: han;
    src: url(../font/汉仪粗宋简.ttf);
    font-weight: bold;
    font-style: normal;
}

.line-limit-length {
    margin-top: -2vw;
    font-size: 5.5vw;
    font-family: 'han';
    line-height: 9vw;
}

.article {
    width: 83%;
    height: 220%;
    margin: 0 auto;
    font-family: 黑体;
}

.content {
    height: 60%;
    font-size: 3.1vw;
    margin-top: 20px;
}

.time {
    font-size: 2.8vw;
    font-family: cursive;
    display: block;
    color: rgb(101, 101, 101);
    line-height: 7vw;
    margin-bottom: 15px;
}

.paragraph {
    line-height: 5.6vw;
    margin-bottom: 30px;
}

.meme,
.QR-code {
    margin: 0 auto;
    background-size: contain;
}

.meme {
    margin-bottom: 40px;
    width: 25vw;
    height: 25vw;
    background-image: url("../images/meme.jpg");
}

.QR-code {
    width: 20vw;
    height: 20vw;
    background-image: url("../images/QR_code.jpg");
    padding-bottom: 30px;
    background-repeat: no-repeat;
}

.more-content {
    color: rgb(0, 144, 255);
    font-size: 3.5vw;
    text-align: center;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

.origin {
    display: block;
    text-align: center;
    font-size: 2vw;
    margin-top: 15px;
    color: rgb(102, 102, 102);
    margin-bottom: 10px;
}